[submodule "third_party/libmultirobotplanning/external/libMultiRobotPlanning"]
	path = third_party/libmultirobotplanning/external/libMultiRobotPlanning
	url = git@github.com:whoenig/libMultiRobotPlanning.git
